body{
    margin: 0px;
}
    .container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.dude{
    position: absolute;
    bottom: 0;
    left: 0;

}